In [11]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import the three csv files and get a quick overview of all of the attributes and datatypes
pump_train_labels = pd.read_csv("/users/katherinekimberling/opt/anaconda3/envs/ads502/pump_train_labels.csv")
print("The pump train LABELS dataset contains:") 
print(pump_train_labels.describe())

pump_train_values = pd.read_csv("/users/katherinekimberling/opt/anaconda3/envs/ads502/pump_train_values.csv")
print("The pump train VALUES dataset contains:") 
print(pump_train_values.describe())

pump_test_values = pd.read_csv("/users/katherinekimberling/opt/anaconda3/envs/ads502/pump_test_values.csv")
print("The pump TEST VALUES dataset contains:") 
print(pump_test_values.describe())

The pump train LABELS dataset contains:
                 id
count  59400.000000
mean   37115.131768
std    21453.128371
min        0.000000
25%    18519.750000
50%    37061.500000
75%    55656.500000
max    74247.000000
The pump train VALUES dataset contains:
                 id     amount_tsh    gps_height     longitude      latitude  \
count  59400.000000   59400.000000  59400.000000  59400.000000  5.940000e+04
mean   37115.131768     317.650385    668.297239     34.077427 -5.706033e+00
std    21453.128371    2997.574558    693.116350      6.567432  2.946019e+00
min        0.000000       0.000000    -90.000000      0.000000 -1.164944e+01
25%    18519.750000       0.000000      0.000000     33.090347 -8.540621e+00
50%    37061.500000       0.000000    369.000000     34.908743 -5.021597e+00
75%    55656.500000      20.000000   1319.250000     37.178387 -3.326156e+00
max    74247.000000  350000.000000   2770.000000     40.345193 -2.000000e-08

        num_private   region_code  district_code    population  \
count  59400.000000  59400.000000   59400.000000  59400.000000
mean       0.474141     15.297003       5.629747    179.909983
std       12.236230     17.587406       9.633649    471.482176
min        0.000000      1.000000       0.000000      0.000000
25%        0.000000      5.000000       2.000000      0.000000
50%        0.000000     12.000000       3.000000     25.000000
75%        0.000000     17.000000       5.000000    215.000000
max     1776.000000     99.000000      80.000000  30500.000000

       construction_year
count       59400.000000
mean         1300.652475
std           951.620547
min             0.000000
25%             0.000000
50%          1986.000000
75%          2004.000000
max          2013.000000
The pump TEST VALUES dataset contains:
                 id     amount_tsh    gps_height     longitude      latitude  \
count  14850.000000   14850.000000  14850.000000  14850.000000  1.485000e+04
mean   37161.972929     322.826983    655.147609     34.061605 -5.684724e+00
std    21359.364833    2510.968644    691.261185      6.593034  2.940803e+00
min       10.000000       0.000000    -57.000000      0.000000 -1.156459e+01
25%    18727.000000       0.000000      0.000000     33.069455 -8.443970e+00
50%    37361.500000       0.000000    344.000000     34.901215 -5.049750e+00
75%    55799.750000      25.000000   1308.000000     37.196594 -3.320594e+00
max    74249.000000  200000.000000   2777.000000     40.325016 -2.000000e-08

        num_private   region_code  district_code    population  \
count  14850.000000  14850.000000   14850.000000  14850.000000
mean       0.415084     15.139057       5.626397    184.114209
std        8.167910     17.191329       9.673842    469.499332
min        0.000000      1.000000       0.000000      0.000000
25%        0.000000      5.000000       2.000000      0.000000
50%        0.000000     12.000000       3.000000     20.000000
75%        0.000000     17.000000       5.000000    220.000000
max      669.000000     99.000000      80.000000  11469.000000

       construction_year
count       14850.000000
mean         1289.708350
std           955.241087
min             0.000000
25%             0.000000
50%          1986.000000
75%          2004.000000
max          2013.000000